# copy&rename to .env.local

# Do not leave empty values, e.g. `NEXT_OUTPUT=`, as it is interpreted as an empty string and
# default values won't be used. If you want to fallback to default values, remove or comment the line completely.

# -------------------------- Next.js settings ---------------------------------

# See next.config.js's "output" option. Possible values:
# - "standalone" - docker container
# - "export" - static export
# - undefined - default, `next start`
NEXT_OUTPUT=standalone

# Revalidate interval (false | 0 | number). Default: false - infinity (Nextjs 14)
# https://nextjs.org/docs/14/app/api-reference/file-conventions/route-segment-config#revalidate
# NEXT_PUBLIC_REVALIDATE=

# Sets `cache` type to either in memory or the file system. Filesystem cache is used by default.
# https://webpack.js.org/configuration/cache/?utm_source=chatgpt.com#cachetype
# WEBPACK_CACHE_TYPE=

# -------------------------- NextAuth settings ---------------------------------

# Base next-auth URL - canonical URL of site
# https://next-auth.js.org/configuration/options#nextauth_url
NEXTAUTH_URL=http://localhost:3000

# Encrypt JWT
# https://next-auth.js.org/configuration/options#nextauth_secret
NEXTAUTH_SECRET=password_secret

# -------------------------- BE settings ---------------------------------

# URL of Strapi
STRAPI_URL=http://127.0.0.1:1337

# Read Only API KEY generated within Strapi, providing access to find and findOne endpoints
STRAPI_REST_READONLY_API_KEY=

# API KEY with custom permissions, providing different access to Strapi endpoints
STRAPI_REST_CUSTOM_API_KEY=

# -------------------------- Sentry settings ---------------------------------

# Sentry DSN
# NEXT_PUBLIC_SENTRY_DSN=

# Sentry auth token
# SENTRY_AUTH_TOKEN=

# Sentry organization
# SENTRY_ORG=

# Sentry project
# SENTRY_PROJECT=

SENTRY_SUPPRESS_GLOBAL_ERROR_HANDLER_FILE_WARNING=1

# -------------------------- ReCAPTCHA v3 ---------------------------------

# NEXT_PUBLIC_RECAPTCHA_SITE_KEY=

# RECAPTCHA_SECRET_KEY=

# -------------------------- App settings ---------------------------------

# canonical URL of site - base URL of the frontend application
# (it is used to navigate, generate sitemap URLs, canonical SEO tags etc.)
APP_PUBLIC_URL=http://localhost:3000

# Components and functions that are not *marked as used* will log a warning to the console during development by default.
# To change this behavior, set this env var to `true`.
# NEXT_PUBLIC_PREVENT_UNUSED_FUNCTIONS_ERROR_LOGS=true

# Strapi Preview Shared Secret
STRAPI_PREVIEW_SECRET=your-secret-key
