cache
.cache
public
CHANGELOG.md
.yarn
dist
node_modules
.next
build
.contentlayer
**/.next/**
**/_next/**
**/dist/**
**/__tmp__/**
.github
.git
**/emulators.backup/**
ui-debug.log
**/functions/**
.next
**/functions/node_modules/**
**/types/api/*d.ts
**/types/generated/**
**/.strapi/client/**