# Base URL of the application
# Example:
# - Local development: http://localhost:3000
# - Development: https://dev.example.com
# - Staging: https://staging.example.com
# - Production: https://www.example.com
BASE_URL=http://localhost:3000
# Enable testing against mobile viewports (true / false)
MOBILE_VIEWPORTS_TESTING_ENABLED=false