name: CI

on:
  pull_request:
    branches:
      - main
      - dev

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  CI: true
  NPM_CONFIG_IGNORE_SCRIPTS: "true"

jobs:
  build_and_verify:
    name: Install, Lint, Test and Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm with cache
        uses: ./.github/actions/setup-pnpm

      - name: Prepare Environment Variables
        run: |
          cp apps/strapi/.env.example apps/strapi/.env
          cp apps/ui/.env.local.example apps/ui/.env.local

      - name: Run linter
        run: pnpm lint

      - name: Check css/md formatting
        run: pnpm format:check

      - name: Run unit tests
        run: pnpm test:ci

      - name: Build UI
        run: |
          rm -rf apps/ui/.next
          pnpm build:ui

      # Only enable this if you plan to deploy a static export of the UI
      # - name: Build UI (output=export)
      #   run: |
      #     rm -rf .next
      #     pnpm build:ui:static

      - name: Build Strapi
        run: pnpm build:strapi
