name: Verify build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CI: true
  NPM_CONFIG_IGNORE_SCRIPTS: "true"

jobs:
  build_and_verify:
    name: Install, Lint, and Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Prepare Environment Variables
        run: |
          cp apps/strapi/.env.example apps/strapi/.env
          cp apps/ui/.env.local.example apps/ui/.env.local

      - name: Check code formatting
        run: yarn format:check

      - name: Run linter
        run: yarn lint

      - name: Build UI
        run: |
          rm -rf .next
          yarn build:ui

      # - name: Build UI (output=export)
      #   run: |
      #     rm -rf .next
      #     yarn build:ui:static

      - name: Build Strapi
        run: yarn build:strapi

  e2e:
    name: E2E tests
    needs: build_and_verify
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Install Playwright Browsers
        run: |
          yarn playwright install --with-deps

      - name: Run Playwright tests
        run: |
          yarn tests:playwright:e2e:test

      - uses: actions/upload-artifact@v4.6.2
        if: failure()
        with:
          name: playwright-traces
          path: qa/tests/test-results/**/trace.zip
          retention-days: 7
          if-no-files-found: warn

      - uses: actions/upload-artifact@v4.6.2
        if: failure()
        with:
          name: playwright-report
          path: qa/tests/playwright-report/**
          retention-days: 7
          if-no-files-found: warn

  axe:
    name: Axe tests
    needs: build_and_verify
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Install Playwright Browsers
        run: |
          yarn playwright install --with-deps

      - name: Run Axe tests
        run: |
          yarn tests:playwright:axe

      - name: Pack Axe reports
        if: failure()
        run: |
          tar -czf axe-reports-${{ github.run_id }}.tgz -C qa/tests/axe/reports .
      - uses: actions/upload-artifact@v4.6.2
        if: failure()
        with:
          name: axe-report
          path: axe-reports-${{ github.run_id }}.tgz
          retention-days: 7
